<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer mode="side">
    <mat-toolbar color = "primary">
      <button mat-icon-button class="close-todo-form-icon" (click)="drawer.toggle()" matTooltip="Hide Create ToDo Form"><mat-icon>keyboard_arrow_left</mat-icon></button>
    </mat-toolbar>
    <app-add-to-do-form (addNewToDo) = "onAddNewToDo($event)"></app-add-to-do-form>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color = "primary">
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened" matTooltip="Create New ToDo" ><mat-icon>add</mat-icon></button>
      <h1>To Do App</h1>
      <button mat-icon-button class="help-icon" (click)="drawer.toggle()" matTooltip="Press button '+' in the top left corner to add a ToDo"><mat-icon>help</mat-icon></button>
    </mat-toolbar>

    <div class="todos-wrap">
      <p class="hint" *ngIf="!todosList.length">No ToDos yet.</p>
      <h2 *ngIf="todosList.length">Your ToDos list:</h2>
      <app-to-do-list [todosList]="todosList" (deleteTodo)="onDeleteToDo($event)"></app-to-do-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
